header {
    padding: 6px;
    background: #5C337A;
    color: #D1C2DD;
    display: flex;
    justify-content: space-between;
}

.png {
    width: 350px;
    height: 500px;
}

#p {
    color: #AE9CBB;
}

p,h1,h2,h3,h4,h5,h6,div.form-group label {
    color: #5C337A;
}

.btn{
    background: #5C337A;
    color: #D1C2DD;
}

.btn:hover{
    background: #D1C2DD;
    color: #5C337A;
}

header > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    Color: #D1C2DD;
    gap: 30px;
}

footer {
    padding: 6px;
    background: #5C337A;
    color: #D1C2DD;
    display: flex;
    justify-content: end;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 30px;
}

button.link {
    border: 0;
    background: none;
    color: #D5C9DD;
    text-decoration: underline;
    cursor: pointer;
}

button.link:hover {
    color: #D1C2DD;
}

.bgImage {
    z-index: -1;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    filter: brightness(0.8);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#scooters-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
}

.scooter-card {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    background: #AE9CBB;
    color: #5C337A;
    border-radius: 30px;
}

.scooter-card > div {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    align-items: center;
    justify-content: center;
}

#authLink {
    color: #D1C2DD;
}